<h3>Forgot Password</h3>
<hr>

<form action="/account/ForgotPassword" method="POST">

    <div class="col-md-4 justify-content-center text-align-center">

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" name="Email">

        </div>

        <button type="submit" class="btn btn-success">SUBMIT</button>

    </div>
</form>

<div style="margin-top: 37em;"></div>