@model RegisterModel

<h3>Register</h3>
<hr>

<form action="/account/register" method="POST">

    <div class="col-md-4 ">

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input class="form-control" asp-for="FirstName">
            <span asp-validation-for="FirstName" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input class="form-control" asp-for="LastName">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input class="form-control" asp-for="Username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input class="form-control" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="RePassword" class="form-label"></label>
            <input class="form-control" asp-for="RePassword">
            <span asp-validation-for="RePassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input class="form-control" asp-for="PhoneNumber">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="RoomNumber" class="form-label"></label>
            <input class="form-control" asp-for="RoomNumber">
            <span asp-validation-for="RoomNumber" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">REGISTER</button>

    </div>

</form>


@section Scripts
{
<script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}