@model ResetPasswordModel

<h3>Reset Password</h3>
<hr>

<form action="/account/ResetPassword" method="POST">

    <div class="col-md-4 justify-content-center text-align-center">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Token">
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input class="form-control" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">SAVE</button>

    </div>

</form>

@section Scripts
{
<script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}