<div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
    <a href="/admin/products" class="btn btn-outline-dark" for="vbtn-radio1">PRODUCTS</a>

    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
    <a href="/admin/products/add" class="btn btn-outline-dark" for="vbtn-radio1">ADD PRODUCT</a>

    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
    <a href="/admin/categories" class="btn btn-outline-dark" for="vbtn-radio1">CATEGORIES</a>

    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
    <a href="/admin/categories/add" class="btn btn-outline-dark" for="vbtn-radio1">ADD CATEGORY</a>

    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
    <a href="/admin/roles" class="btn btn-outline-dark" for="vbtn-radio1">ROLES</a>

    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
    <a href="/admin/roles/add" class="btn btn-outline-dark" for="vbtn-radio1">ADD ROLE</a>

    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
    <a href="/admin/users" class="btn btn-outline-dark" for="vbtn-radio1">USERS</a>

</div>
