<div class="row d-flex flex-wrap align-items-center justify-content-center">
    <div class="col-md-8">
        <div style="padding:5em; font-size: 20px;" class="alert alert-success" role="alert">
            Your order has been received successfully. You can track your orders on the <a href="/orders"
                class="alert-link">ORDER</a> tab.
        </div>

    </div>
</div>
<div style="margin-top: 31em;"></div>